html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: averta_Regular,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
	margin: 0;

  color: #000;
  background-color: #fff;
}

#layout {
	margin: 0 auto;
	padding: 10px;
}
#header {
	border-top: 1px solid #000;
}

.menu-item {
	padding : 5px;
	margin-right: 3px;
	display:inline-block;
}

#search {
	padding: 10px;
}

.search-group {
	margin: 0 auto;
	text-align: center;
}
.search-input {
  padding: 5px;
  font-size: 17px;
  width: 73%;
}
.search-submit {
  padding: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#nav {
	
}
.item {
	padding : 5px;
	margin-right: 3px;
	margin-bottom: 5px;
	display:inline-block;
	background: #ddd;
}
.clear {
	clear:both;
}
#content {
	display: flex;
	flex-wrap: wrap;
}
.comic {
	float:left;
	width: calc(50% - 4px);
	padding: 5px 4px 5px 0px;
}
.comic img {
	width: 100%;
}
.comic p {
	margin-top: 5px;
}
.breadcrumb {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}

.breadcrumb li {
    display: inline-block;
	padding-right: 5px;
}

.detail {
	width: 100%;
}

.title {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.title h1 {
	font-size: 21px;
	text-transform: uppercase;
}

.detail-comic {
	width: 100%;
	margin-bottom: 20px;
}
.detail-comic-img {
	width: 100%;
	text-align: center;
}
.detail-comic-img img{
	width: 50%;
}

.info {
	width: 100%;
	margin-bottom: 20px;
}

.info ul li:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


.info-name {
	float: left;
	margin-bottom: 10px;
	width: 30%;
}

.detail-info {
	float: left;
	margin-bottom: 10px;
	width: 70%;
}
.detail-info a {
	padding-right: 5px;
}

.chapter {
	width: 100%;
}

.chapter h2 {
	font-size: 16px;
    font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}
.chapter-title {
	width: 100%;
}
.chapter-title li {
	display: inline-block;
	width: 32%;
	margin-bottom: 10px;
}

.chapter-list li ul li {
	display: inline-block;
	width: 32%;
	margin-bottom: 10px;
}

.more-chapter {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #ddd;
	line-height: 30px;
}

.chapter-nav {
	width: 100#;
	text-align: center;
}

.chapter-nav ul li{
	display: inline-block;
	padding: 5px 5px;
}

.chapter-content {
	width: 100%;
}

.chapter-content img {
	width: 100%;
}

#footer {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.show {
	display: block;
}

.hide {
	display: none;
}